__pycache__
wandb

.DS_store
/samples/
/results/
pretrained_models

# /models/
__pycache__/
*.pth
.cache/
/checkpoints/
upload_to_hf.py
/*.png

# ===== Models / Checkpoints =====
*.pt
*.pth
*.ckpt
*.safetensors
adapter_ckpts/
pca_results/
models/

# ===== Data =====
imagenette2/
imagenette_debug/
kaggle/

# ===== Outputs =====
logs/
out/
runs/
eval_imgs/
repeat/
*.log
nohup.out
code_vis/

# ===== Python =====
__pycache__/
*.pyc

# ===== Misc =====
.env